.entry-details {
    width:1200px;
    margin: 3em auto;
    background-color: rgb(56, 47, 47);
    border-radius: 20px;
 
  
}

.entry-details h4, .entry-details p {
  
    padding:0px;
}
.entry {
    display:flex;
    justify-content: center;
}

.genres {
    padding:0;
    font-style: italic;
}
.entry .movie_name {
   font-size:36px;
   /* text-align: center; */
}

.entry-details img{
    margin-left:5em;
    width:400px;
    height:500px;
    padding:20px;
    border-radius:20px;

}

.entry-description{
    text-align: left;
    font-size:20px;
    color:#beb7b7;
    height:500px;
    padding:20px;
}

.return-btn {
    margin-left:1em;
}

@media screen and (max-width: 768px){ 

    .entry-details {
        margin:0 auto;
        width:100%;
        background-color: rgb(56, 47, 47);
        border-radius: 0;
    
       
     }
    
    .entry {
        margin:0 auto;
        padding:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .genres {
        padding:0;
        font-style: italic;
    }
    .entry .movie_name {
       font-size:36px;
       
    }
    
    .entry-details img{
        width:300px;
        height:300px;
        margin:0;
      
        border-radius:20px;
    
    }
    
    .entry-description{
        font-size:20px;
        color:#beb7b7;
        height:500px;
        padding:20px;
        margin-bottom:1em;
    }
    
    .return-btn {
        margin-left:1em;
    }



}