

.form-search {
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    margin-bottom:2em;
  
}

.search-window-input{
    text-align: center;
    width:400px;
    font-family: "Creepster", system-ui;
    font-size:30px;
    color:rgb(221, 55, 55);
    background-color: rgb(56, 47, 47);
   
    border-radius: 10px;
    box-shadow: none;
}

.search-window-btn {
   height:40px;
   color:rgb(221, 55, 55);
}




